body {
    font-family: 'Times New Roman', Times, serif;
}

#header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #ed5050;
}

h1 {
    cursor: pointer;
}

#nav {
    display: flex;
    width: 35rem;
    align-items: center;
}

ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;
    
}

.link{
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

#search {
    padding-left: 3rem;
}

input {
    padding-left: 0.5rem;
    width: 12rem;
    height: 1.5rem;
    border-radius: 10px;
}

#searchBtn {
    margin-left: 0.6rem;
    background-color: palegoldenrod;
    border-radius: 0.3rem;
    height: 1.5rem;
    cursor: pointer;
}

#filter {
    margin-left: 1rem;
    background-color: rgba(150, 150, 142, 0.222);
    border-radius: 0.4rem;
    cursor: pointer;
}

#body {
    padding: 1rem;
}

#container {
    padding: 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.cards {
    height: 19rem;
    width: 12rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 1rem;
    transition: all 0.3s;
}

.cards img {
    border-radius: 1rem;
    height: 150px;
    width: 100%;
    object-fit: cover; 
}

.cards p {
    font-size: small;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}


.cards:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
}


#login{
   border-radius: 6px;
   font-style :normal ;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #000000;
   color: rgb(0, 0, 0);
   cursor: pointer;
   width: 4rem;
   background-color: transparent;
}



  